body {
    font-family: Inter;
    background-color: #282D35;
    color: #FFFFFF;
    /* margin: 0; */
}

main {
    padding: 50px 27px;
}

main > h1 {
    /* padding: 50px 27px; */
    font-weight: 700;
    margin: 0;
    font-size: 2.7rem;
}

main > ul {
    margin-top: 46px;
    max-width: 400px;
}

main > ul > li::marker {
    color: #61DAFB;
    font-size: 1.2rem;

}

main > ul > li {
    font-weight: 400;
    font-size: 1rem;
    padding-block: 10px;
    list-style: circle;
}
